/*************** Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*************** Smaller (Mobile) View ***************/

:root {
  --navBackgroundColor: rgb(47, 56, 97);
  --divFontColor: #8bb0c1;
  --font: Arial, sans-serif;
}

html,
body {
  overflow-x: auto;
  font-family: var(--font)
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 23px;
}

nav {
  font-size: 20px;
  background-color: var(--navBackgroundColor);
  max-width: 100%;
  color: white;
}

.navigationul ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.navigationul a {
  color: white;
  text-decoration: none;
}

.herodivfloat {
  position: absolute;
  top: 37%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  width: max-content;
  text-align: center;
}

.herodivfloat p {
  padding: 0;
  margin: 3px;
  color: var(--navBackgroundColor);
}


.herodivfloat h2 {
  margin-bottom: 1px;
  color: var(--navBackgroundColor);
  font-weight: bold;
}

.herodivfloat a {
  text-decoration: none;
  color: black;
  background-color: lightblue;
  padding: 5px;
}

.deloreanupgrades img {
  height: auto;
  width: 70px;
}

.deloreanupgrades {
  text-align: center;
  margin-bottom: 30px;
}

.deloreanupgrades a {
  color: black;
}

.upgrades {
  display: block;
  width: 150px;
}

.upgradesimgdiv {
  display: flex;
  background-color: var(--divFontColor);
  border: 1px solid black;
  width: 150px;
  height: 90px;
  align-items: center;
  justify-content: center;
}

.upgrades a {
  display: block;
}

.reviewdiv h2 {
  font-size: 20px;
}

.reviewdiv {
  line-height: 30px;
}

.container {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.siteName {
  font-size: 40px;
}

.siteName a {
  text-decoration: none;
  color: var(--navBackgroundColor);
}

#tools {
  float: right;
}

#tools a {
  text-decoration: none;
  color: black;
}

.wrapper {}


/*************** Larger (Computer) View ***************/

@media screen and (min-width: 1000px) {

  body {
    background-image: url("/images/site/small_check.jpg");
  }

  nav {
    font-size: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .navigationul li {
    margin-left: 50px;
  }

  h1 {
    font-size: 30px;
  }

  #tools {
    position: relative;
    top: 25px;
    right: 20px;
  }

  .computerdiv {
    border: 4px solid var(--divFontColor);
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
    width: max-content;
    padding: 20px;
  }

  .heroimage {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    position: relative;
  }

  .herodivfloat {
    width: max-content;
    padding: 20px;
    top: 50%;
    left: 35%;
  }


  .herodivfloat a {
    line-height: 3;
  }

  .deloreanupgrades {
    float: left;
  }

  .deloreanupgrades {
    float: left;
  }

  .reviewdiv {
    float: right;
    line-height: 50px;
  }

}